# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.NewsAggregator.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\wladi\RiderProjects\NewsAggregator\.idea\.idea.NewsAggregator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
