
@{
    ViewData["Title"] = "Aggregate News";
}


<h1>Aggregate News</h1>

<h3>Вы уверены что хотите добавить новые новости? Это может занять некоторое время!</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AggregateNews">
            <input type="submit" value="ДА!" class="btn btn-danger" /> |
            <a asp-action="Index">НЕТ</a>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
