
@{
    ViewData["Title"] = "Aggregate News";
}


<h1>Aggregate News</h1>

<h3>Are you sure you want to aggregate news? It can take some time</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AggregateNews">
            <input type="submit" value="Submit" class="btn btn-danger" /> |
            <a asp-action="Index">Cancel</a>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
