@model NewsAggregator.Core.DataTransferObjects.NewsDto

@{
    ViewData["Title"] = "News Details";
}

<h1>@Model.Article</h1>


<img src="@Model.TitleImage" class="img-fluid" alt="Img">

<div class="align-content-center">
    @Html.Raw(Model.Body)
</div>
<div>
    <a class="btn btn-light" href="@Model.Url">Читать в источнике</a>
</div>
<div>
    <a class="btn btn-info" asp-action="Index">
        Назад
    </a>
</div>
