@using NewsAggregator.HtmlHelpers
@model NewsAggregator.Models.ViewModels.News.NewsListWithPaginationInfo

@{
    ViewData["Title"] = "News Index";
}

<h1>News</h1>

@if (Model.IsAdmin)
{

    <p>
        <a class="btn btn-primary " asp-controller="News" asp-action="AggregateNews">Добавить новые новости</a>
    </p>

}

<div class="row align-content-center">
    @foreach (var item in Model.News)
    {
        await Html.RenderPartialAsync("ShortNewsPreview", item);
    }
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @Html.CreatePagination(Model.PageInfo, i => Url.Action("Index", new { page = i }))
    </ul>
</nav>
