@model RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<h2>Регистрация</h2>
<form asp-action="Register" asp-controller="Account" asp-antiforgery="true" method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-content">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="text" placeholder="name@example.com" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-content">
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password" type="password" placeholder="password***" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-content">
            <label asp-for="PasswordConfirmation">Повторите пароль</label>
            <input asp-for="PasswordConfirmation" type="password" placeholder="password***" />
            <span asp-validation-for="PasswordConfirmation"></span>
        </div>
        <div class="form-content">
            <label asp-for="Age">Введите свой возраст</label>
            <input asp-for="Age" type="number" placeholder="от 18 до 99" />
            <sub>доступ к ресурсу 18+</sub>
            <span asp-validation-for="Age"></span>
        </div>
        <div class="form-content">
            <label asp-for="FullName">Введите ваше полное имя</label>
            <input asp-for="FullName" type="text" placeholder="Гэндальф Серый"/>
            <span asp-validation-for="Age"></span>
        </div>
        <div>
            <input type="submit" value="Register" />
        </div>

    </div>
</form>


@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
