@{
    ViewData["Title"] = "Home Page";
}

<div >
    <a asp-area="" asp-controller="News" asp-action="Index">
        <img src="img/Logo.jpg" alt="Logo" class="rounded mx-auto d-block"  style="margin: 10%" width="50%" />
    </a>
</div>
